/*
Theme Name: Sai Gon Technology Solution
Author: Hien (Hamilton) H.HO
Version: 1.0.0
Text Domain: sts-theme
*/
/*========================= HEADER =========================*/

nav.navbar {
	background-color: #000;
	min-height: 100px;
	border-radius: 0;
}
@media (min-width: 1024px) {	
	.nav.navbar-nav > li {
		font-size: 14pt;
		font-weight: normal;
		margin: 0 20px;
	}
	.navbar-nav > li > a {	  
	  color: #fff;
	  margin: 40px 0 0;
	  padding: 0 0 5px;
	}
	.navbar-nav > li > a:hover,.navbar-nav > li > a:focus, .navbar-nav > li.active > a, .navbar-nav > li.current-menu-item > a {
		background: none;
		color: #84be3f;
		border-bottom: 2px solid;
	}
	#navbar p.navbar-right {
	  border: 2px solid;
	  color: #fff;
	  margin: 30px 0 0;
	  padding: 5px;
	}
	#navbar p.navbar-right a{
		color: #FFF;
		font-weight: bold;
		padding: 0 5px;
	}
	#navbar p.navbar-right a.active,#navbar p.navbar-right a:hover, #navbar p.navbar-right a:focus{
		color: #84be3f;
	}
	footer {
	  height: 200px;
	  position: relative;
	  width: 100%;
	}
	footer > img{
		position: absolute;
		z-index: 1;
	}
	.footer-section {
	  position: relative;
	  z-index: 99;
	  color: #fff;
	  text-align: center;
	}
}